# Ignore Next.js build output
/.next

# Ignore Node modules
/node_modules

# Ignore development environment files
.env.local
.env.development.local
.env.test.local
.env.production.local

# Ignore npm-debug.log
npm-debug.log*

# Ignore yarn.lock file
yarn.lock

# Ignore macOS folder attributes
.DS_Store

# Ignore log files
*.log

# Ignore coverage output
/coverage
